// NEXTFLOW MANIFEST
manifest {
	name            = 'haplotyping-KIV2-nf'
	version         = '1.0.0'
	description     = 'Nextflow pipeline to extract haplotypes of KIV-2 UMI data'
	author          = 'Stephan Amstler'
	homePage        = 'https://github.com/AmstlerStephan/haplotyping-KIV2-nf.git'
	mainScript      = 'main.nf'
	nextflowVersion = '!>=24.10'
}

// DEFAULT PARAMETERS
params {

	// BASIC PARAMS
	help                          = false
	validate_params               = true
	version                       = false

	// GENERAL - Required
	input                         = null
	output                        = null

	// HAPLOTYPE EXTRACTION SPECIFIC
	variant_calling_positions     = null
	region                        = null
	bam_pattern                   = "masked_consensus.bam"
	cluster_stats_pattern         = "split_cluster_stats.tsv"
	min_reads_per_cluster         = 10
	max_reads_per_cluster         = 200
	max_edit_distance             = 2
	use_variant_calling_positions = false
	region_exclusion_ranges       = [
		"lpa2645": "",              // No positions to exclude
		"lpa5104": "2472,2506"      // Exclude positions 2472-2506
	]
	min_qscore                    = 45
	output_format                 = "fasta"
	hardmask                      = false
	variant_cutoff                = 0.1

	// ADVANCED
	threads                       = (Runtime.runtime.availableProcessors() - 1)
	verbose                       = false

	// RESOURCE LIMITS
	max_memory                    = '128.GB'
	max_cpus                      = 16
	max_time                      = '240.h'
}


// NEXTFLOW PROFILES

// Load base.config by default for all pipelines
includeConfig "config/base.config"

process.container = 'quay.io/amstlerstephan/haplotyping-kiv2-nf:v1.0.0'

profiles {

	conda {
		process.conda = "env/environment.yml"
	}

	docker {
		docker.enabled = true
	}

	singularity {
		singularity.enabled    = true
		singularity.autoMounts = true
		docker.enabled         = false
	}

	slurm {
		process {
			executor      = 'slurm'
			errorStrategy = { task.exitStatus == 143 ? 'retry' : 'terminate' }
			maxErrors     = '-1'
			maxRetries    = 3
		}
		singularity.enabled    = true
		singularity.autoMounts = true
		docker.enabled         = false
	}

	// -profile test
	test {
		includeConfig "config/test.config"
	}

	development {
		process.container   = 'amstlerstephan/haplotyping-kiv2-nf:latest'
		docker.enabled      = true
		resume              = true
		singularity.enabled = false
	}
}

plugins {
	id 'nf-validation@2.2.0'
}

// NEXTFLOW REPORTING # this defines pipeline metadata
dag {
	enabled   = true
	overwrite = true
	file      = "${params.output}/nextflow_stats/dag.svg"
}
report {
	enabled   = true
	overwrite = true
	file      = "${params.output}/nextflow_stats/report.html"
}
timeline {
	enabled   = true
	overwrite = true
	file      = "${params.output}/nextflow_stats/timeline.html"
}
trace {
	enabled   = true
	overwrite = true
	file      = "${params.output}/nextflow_stats/trace.txt"
}
