params {
	input                            = "${baseDir}/data"
	output                           = "test_output"
	debug                            = true
	bam_pattern                      = "masked_consensus.bam"
	cluster_stats_pattern            = "split_cluster_stats.tsv"
	min_reads_per_cluster            = 6
	max_reads_per_cluster            = 40
	max_edit_distance                = 2
	use_variant_calling_positions    = true
	region_exclusion_ranges          = [
		lpa2645: "",
		lpa5104: "2472,2506",
	]
	region_variant_calling_positions = [
		lpa2645: "data/variant_calling/2645/variant_calling_positions/positions_2645_MAF2.tsv",
		lpa5104: "data/variant_calling/5104/variant_calling_positions/positions_5104_MAF2.tsv",
	]
	min_qscore                       = 60
	variant_cutoff                   = 0.0085
	hardmask                         = false
	output_format                    = "fastq"
}
