params {
	input               			= "$projectDir/../data/run_SAPHIR_5104/V14/SUP/ont_pl_all_cluster"
	output             	 			= "no_pos_6-40_Dist1_0125"
	bam_pattern 					= "masked_consensus.bam"
	cluster_stats_pattern 			= "split_cluster_stats.tsv"
	min_reads_per_cluster 			= 6
	max_reads_per_cluster 			= 40
	max_edit_distance				= 1
	use_variant_calling_positions 	= false
//	variant_calling_positions 		= "data/run_SAPHIR_5104/V14/SUP/variant_calling_pos/positions_filtered_only_umi_with_STR_exclude_low_abundance_muts.tsv"
	variant_calling_positions 		= ""
	ranges_to_exclude   			= "0,0"
	min_qscore          			= 60
    variant_cutoff      			= 0.0125
    hardmask            			= false
	output_format       			= "fastq"
}

// NEXTFLOW REPORTING
if(params.output != null){
	dag {
		enabled = true
		file = "${params.output}/nextflow_stats/dag.mmd"
		overwrite = true
	}
	report {
		enabled = true
		file = "${params.output}/nextflow_stats/report.html"
		overwrite = true
	}
	timeline {
		enabled = true
		file = "${params.output}/nextflow_stats/timeline.html"
		overwrite = true
	}
	trace {
		enabled = true
		file = "${params.output}/nextflow_stats/trace.txt"
		overwrite = true
	}
}