params {
	input                            = "${baseDir}/data/batch1"
	output                           = "test_output"
	debug                            = true
	bam_pattern                      = "masked_consensus.bam"
	cluster_stats_pattern            = "split_cluster_stats.tsv"
	min_reads_per_cluster            = 6
	max_reads_per_cluster            = 10000
	max_edit_distance                = 1
	use_variant_calling_positions    = false
	region_exclusion_ranges          = [
		lpa2645: "",
		lpa5104: "2471,2506",
	]
	region_variant_calling_positions = [
		lpa2645: "data/haplotyping/variant_calling_positions/positions_2645_MAFp1_round2_round3.tsv",
		lpa5104: "data/haplotyping/variant_calling_positions/positions_5104_MAFp1_round2_round3_wo_STR.tsv",
	]
	region_references                = [
		lpa2645: "data/ref/lpa-ref2645.fasta",
		lpa5104: "data/ref/lpa-ref5104.fasta",
	]
	reference_start                  = 1

	min_qscore                       = 60
	variant_cutoff                   = 0.0085
	hardmask                         = false
	output_format                    = "fastq"
}
